<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.betta.message.mapper.MessageChannelConfigMapper">

    <resultMap type="com.betta.message.domain.MessageChannelConfig" id="MessageChannelConfigResult">
        <id     property="id"                column="id"                />
        <result property="channelType"       column="channel_type"      />
        <result property="channelName"       column="channel_name"      />
        <result property="appId"             column="app_id"            />
        <result property="appSecret"         column="app_secret"         />
        <result property="encryptKey"        column="encrypt_key"       />
        <result property="verificationToken" column="verification_token"/>
        <result property="agentId"           column="agent_id"          />
        <result property="corpId"            column="corp_id"           />
        <result property="status"            column="status"            />
        <result property="remark"            column="remark"            />
        <result property="createBy"          column="create_by"         />
        <result property="createTime"        column="create_time"       />
        <result property="updateBy"          column="update_by"         />
        <result property="updateTime"        column="update_time"       />
    </resultMap>

    <sql id="selectVo">
        select id, channel_type, channel_name, app_id, app_secret, encrypt_key, verification_token,
               agent_id, corp_id, status, remark, create_by, create_time, update_by, update_time
        from message_channel_config
    </sql>

    <select id="selectList" parameterType="com.betta.message.domain.MessageChannelConfig" resultMap="MessageChannelConfigResult">
        <include refid="selectVo"/>
        <where>
            <if test="channelType != null and channelType != ''"> and channel_type = #{channelType}</if>
            <if test="status != null and status != ''"> and status = #{status}</if>
            <if test="channelName != null and channelName != ''"> and channel_name like concat('%', #{channelName}, '%')</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" parameterType="Long" resultMap="MessageChannelConfigResult">
        <include refid="selectVo"/>
        where id = #{id}
    </select>

    <insert id="insert" parameterType="com.betta.message.domain.MessageChannelConfig" useGeneratedKeys="true" keyProperty="id">
        insert into message_channel_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="channelType != null">channel_type,</if>
            <if test="channelName != null">channel_name,</if>
            <if test="appId != null">app_id,</if>
            <if test="appSecret != null">app_secret,</if>
            <if test="encryptKey != null">encrypt_key,</if>
            <if test="verificationToken != null">verification_token,</if>
            <if test="agentId != null">agent_id,</if>
            <if test="corpId != null">corp_id,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="channelType != null">#{channelType},</if>
            <if test="channelName != null">#{channelName},</if>
            <if test="appId != null">#{appId},</if>
            <if test="appSecret != null">#{appSecret},</if>
            <if test="encryptKey != null">#{encryptKey},</if>
            <if test="verificationToken != null">#{verificationToken},</if>
            <if test="agentId != null">#{agentId},</if>
            <if test="corpId != null">#{corpId},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.betta.message.domain.MessageChannelConfig">
        update message_channel_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="channelType != null">channel_type = #{channelType},</if>
            <if test="channelName != null">channel_name = #{channelName},</if>
            <if test="appId != null">app_id = #{appId},</if>
            <if test="appSecret != null">app_secret = #{appSecret},</if>
            <if test="encryptKey != null">encrypt_key = #{encryptKey},</if>
            <if test="verificationToken != null">verification_token = #{verificationToken},</if>
            <if test="agentId != null">agent_id = #{agentId},</if>
            <if test="corpId != null">corp_id = #{corpId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="Long">
        delete from message_channel_config where id = #{id}
    </delete>
</mapper>
