<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.betta.system.mapper.CardAccountMapper">

    <resultMap type="CardAccount" id="CardAccountResult">
        <result property="id" column="id" />
        <result property="name" column="name" />
        <result property="balance" column="balance" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
        <result property="remark" column="remark" />
    </resultMap>

    <sql id="selectCardAccountVo">
        select id, name, balance, create_by, create_time, update_by, update_time, remark
        from card_account
    </sql>

    <select id="selectCardAccountList" parameterType="CardAccount" resultMap="CardAccountResult">
        <include refid="selectCardAccountVo"/>
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
        </where>
        order by id desc
    </select>

    <select id="selectCardAccountById" parameterType="Long" resultMap="CardAccountResult">
        <include refid="selectCardAccountVo"/>
        where id = #{id}
    </select>

    <select id="selectCardAccountByName" parameterType="String" resultMap="CardAccountResult">
        <include refid="selectCardAccountVo"/>
        where name = #{name}
    </select>

    <insert id="insertCardAccount" parameterType="CardAccount" useGeneratedKeys="true" keyProperty="id">
        insert into card_account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="balance != null">balance,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="remark != null">remark,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="balance != null">#{balance},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="remark != null">#{remark},</if>
            now()
        </trim>
    </insert>

    <update id="updateCardAccount" parameterType="CardAccount">
        update card_account
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="balance != null">balance = #{balance},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = now()
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCardAccountById" parameterType="Long">
        delete from card_account where id = #{id}
    </delete>

    <delete id="deleteCardAccountByIds" parameterType="String">
        delete from card_account where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
