<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.betta.eng.mapper.EngDailyTestWordMapper">
    <select id="selectCompletedWordIds" resultType="long">
        select word_id from eng_daily_word_completion
        where user_id=#{userId} and study_date=#{studyDate}
    </select>
    <select id="countNewWords" resultType="int">
        select count(*) from eng_daily_word_completion
        where user_id=#{userId} and article_id=#{articleId} and study_date=#{studyDate} and category='NEW'
    </select>
    <insert id="insertDailyTestWord" parameterType="EngDailyTestWord" useGeneratedKeys="true" keyProperty="id">
        insert into eng_daily_word_completion(user_id,article_id,word_id,study_record_id,study_date,category,create_by,create_time)
        values(#{userId},#{articleId},#{wordId},#{studyRecordId},#{studyDate},#{category},#{createBy},now())
    </insert>
    <update id="bindStudyRecord">
        update eng_daily_word_completion set study_record_id=#{studyRecordId}
        where user_id=#{userId} and article_id=#{articleId} and study_date=#{studyDate}
          and word_id in
        <foreach item="wordId" collection="wordIds" open="(" separator="," close=")">
            #{wordId}
        </foreach>
    </update>
</mapper>
