<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.betta.eng.mapper.EngIcibaSentenceMapper">
    <resultMap id="IcibaMap" type="EngIcibaSentence">
        <id property="id" column="id"/>
        <result property="wordId" column="word_id"/>
        <result property="orig" column="orig"/>
        <result property="trans" column="trans"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    <select id="selectEngIcibaSentenceList" parameterType="EngIcibaSentence" resultMap="IcibaMap">
        select id,word_id,orig,trans,status,create_by,create_time from eng_iciba_sentence
        <where>
            <if test="wordId!=null">
                and word_id=#{wordId}
            </if>
            <if test="orig!=null and orig!=''">
                and orig=#{orig}
            </if>
        </where>
    </select>
    <insert id="insertEngIcibaSentence" parameterType="EngIcibaSentence" useGeneratedKeys="true" keyProperty="id">
        insert into eng_iciba_sentence(word_id,orig,trans,status,create_by,create_time)
        values(#{wordId},#{orig},#{trans},#{status},#{createBy},now())
    </insert>
    <delete id="deleteByWordId">
        delete from eng_iciba_sentence where word_id=#{wordId}
    </delete>
</mapper>
