<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.betta.eng.mapper.EngUserChallengeSettingMapper">
    <resultMap id="SettingMap" type="EngUserChallengeSetting">
        <id property="id" column="id"/><result property="userId" column="user_id"/>
        <result property="wordToMeaningEnabled" column="word_to_meaning_enabled"/>
        <result property="meaningToWordEnabled" column="meaning_to_word_enabled"/>
        <result property="sentenceClozeEnabled" column="sentence_cloze_enabled"/>
        <result property="pronunciationEnabled" column="pronunciation_enabled"/>
        <result property="settingVersion" column="setting_version"/>
        <result property="createBy" column="create_by"/><result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/><result property="updateTime" column="update_time"/>
    </resultMap>
    <select id="selectByUserId" resultMap="SettingMap">
        select * from eng_user_challenge_setting where user_id=#{userId}
    </select>
    <insert id="upsert" parameterType="EngUserChallengeSetting">
        insert into eng_user_challenge_setting(user_id,word_to_meaning_enabled,meaning_to_word_enabled,
          sentence_cloze_enabled,pronunciation_enabled,setting_version,create_by,create_time,update_by,update_time)
        values(#{userId},#{wordToMeaningEnabled},#{meaningToWordEnabled},#{sentenceClozeEnabled},
          #{pronunciationEnabled},1,#{createBy},now(),#{updateBy},now())
        on duplicate key update word_to_meaning_enabled=values(word_to_meaning_enabled),
          meaning_to_word_enabled=values(meaning_to_word_enabled),sentence_cloze_enabled=values(sentence_cloze_enabled),
          pronunciation_enabled=values(pronunciation_enabled),setting_version=setting_version+1,
          update_by=values(update_by),update_time=now()
    </insert>
</mapper>
